.header {
  top: 0;
  left: 0;
  right: 0;
  height: 51.4px;
  z-index: 100;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.logoContainer {
  flex: 1;
  text-align: center;
  align-self: center;
  margin: auto;
  margin-left: 25px;
}

.hamburgerContainer {
  align-self: flex-end;
}

.logo {
  font-size: 23px;
  letter-spacing: -0.05em;
  font-family: 'logo';
  display: inline-block;
  justify-content: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}