/* 앨범아트 */
.favAlbumcover {
  width: 80px;
  height: 80px;
  position: relative;
  margin-bottom: 1rem;
  z-index: 1;
}

/* 별 이미지 */
.favImage {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  margin-left: -22px;
  margin-top: 2px;
}

/* 앨범커버랑 별 감싼 */
.favsongData {
  display: inline;
  justify-content: flex-start;
  float: left;
  padding-left: 25px;
  /* display: flex; */
  /* flex-direction: row; */
  /* width: 80px; */

  /* align-items: left; */
  /* display: flex; */
  /* align-items: flex-start; */
  margin-left: 5px;
  /* margin-right: 5px; */
  /* margin-bottom: 40px; */
}

.favTotal {
  float: left;
  display: inline;
  justify-content: flex-start;
}

.titleNsinger {
  margin-left: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  max-width: 160px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  /* display: flex;
  flex: 0 0 auto; */
}

.dataNBtn {
  display: block;
  text-align: start;
}

.favMent {
  font-size: 1rem;
  text-align: start;
  margin-bottom: 0.5rem;
  margin-left: 1.8rem;
  margin-top: 1.5rem;
}