/* 뒤로가기 버튼*/
.updateBackBtn {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-decoration: none;
  border: solid 1px white;
  border-radius: 30px;
  background-color: transparent;
  display: flex;
  justify-content: start;
}

/* 뒤로가기 링크 */
.updateBackA {
  text-decoration: none;
  color: white;
  font-family: lineRg;
  display: flex;
  justify-content: center;
  padding-top: 3px;
  font-size: 1rem;
  padding: 3px;
}


.recordTitle {
  font-size: 1.3rem;
  margin-top: 4rem;
}