.updateBackBtn {
  align-items: start;
  text-decoration: none;
  border: solid 1px white;
  border-radius: 30px;
  background-color: transparent;
  display: flex;
  justify-content: start;
  margin-left: 30px;
}

/* 뒤로가기 링크 */
.updateBackA {
  text-decoration: none;
  color: white;
  font-family: 'lineRg';
  display: flex;
  justify-content: center;
  padding-top: 3px;
}

.hisContainer {
  min-height:calc(100vh - 38px);
  /* 본문 짧은 페이지에 적용 */
}