.App {
  text-align: center;
  
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'logo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lineRg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lineTh';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* @font-face {
  font-family: "logo";
  src: url("../public/HSSantokki-Regular.ttf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: "lineRg";
  src: url("../public/LINESeedKR-Rg.ttf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: "lineTh";
  src: url("../public/LINESeedKR-Th.ttf") format('truetype');
} */

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-line-seed-sans-kr: "LINE Seed Sans KR";
  --font-hs: HS산토끼체;

  /* font sizes */
  --font-size-mini: 0.94rem;

  /* Colors */
  --color-white: #fff;

  /* Paddings */
  --padding-5xs: 0.5rem;
  --padding-9xs: 0.25rem;

  /* border radiuses */
  --br-81xl: 100px;
}
