body {
  color: white;
  background-color: #242E54;
  margin: 0;
  font-family: 'lineRg';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

